<div class="sidebar ">
  <div class="p-2 h-24 grid grid-cols-[4rem,_1fr] grid-rows-1 items-center">
    <span class="rounded-full bg-gray-500 w-16 h-16 block"><img src="" alt=""></span>
    <span class="">
      <h2 class="pl-1 font-bold ">user_name</h2>
      <a class="pl-1 text-xs leading-2 mb-2 block hover:text-cyan-700" href="#">uid_0000000000</a>
      <h6 class="pl-1 text-xs ">stats</h6>
    </span>
  </div>
  <div class="flex justify-center">
    <button class="btn-add text-xs mr-1 !mb-0 !pr-5 !pl-2" onclick="show_dialog('new_table')">New Table</button>
    <button class="btn-del !mb-0 !pr-5 !pl-2 " onclick="delete_table()">Delete All</button>
  </div>
  <div id='tab_template' class="margin-2 p-1 grid auto-rows-max grid-cols-1 gap-1 box-border hidden">
    <!-- 
      should be in its own file, as it will be needed to be served dynamically 
      or make it hidden, and duplicate (using cloneNode()) when needed
    -->
    <div class="table-item flex items-center">
      <div>
        <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M12 7.205c4.418 0 8-1.165 8-2.602C20 3.165 16.418 2 12 2S4 3.165 4 4.603c0 1.437 3.582 2.602 8 2.602ZM12 22c4.963 0 8-1.686 8-2.603v-4.404c-.052.032-.112.06-.165.09a7.75 7.75 0 0 1-.745.387c-.193.088-.394.173-.6.253-.063.024-.124.05-.189.073a18.934 18.934 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.073a10.143 10.143 0 0 1-.852-.373 7.75 7.75 0 0 1-.493-.267c-.053-.03-.113-.058-.165-.09v4.404C4 20.315 7.037 22 12 22Zm7.09-13.928a9.91 9.91 0 0 1-.6.253c-.063.025-.124.05-.189.074a18.935 18.935 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.074a10.163 10.163 0 0 1-.852-.372 7.816 7.816 0 0 1-.493-.268c-.055-.03-.115-.058-.167-.09V12c0 .917 3.037 2.603 8 2.603s8-1.686 8-2.603V7.596c-.052.031-.112.059-.165.09a7.816 7.816 0 0 1-.745.386Z" />
        </svg>
      </div>
      <div class="table_name flex-grow text-left ml-1"></div>
      <div class="flex flex-col">
        <button>
          <svg class="w-4 h-4 text-gray-800 dark:text-yellow-500 hover:shadow-is hover:shadow-yellow-500"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            viewBox="0 0 24 24">
            <path fill-rule="evenodd"
              d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z"
              clip-rule="evenodd" />
            <path fill-rule="evenodd"
              d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z"
              clip-rule="evenodd" />
          </svg>
        </button>
        <button onclick="delete_table(this.parentElement)">
          <svg class="w-4 h-4 text-gray-800 dark:text-red-600 hover:shadow-is hover:shadow-red-600 " aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd"
              d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="topbar">
  <div class="flex flex-col ml-3 px-8">
    <div class="text-xl font-bold">table_name</div>
    <div class="text-sm ml-1 leading-4">stats</div>
    <div class="text-sm ml-1 leading-4">[metadata]</div>
  </div>
  <!-- TODO: add an icon to each button, to signify each button's action. -->
  <div class="flex flex-col px-8">
    <button class="btn-add" onclick="show_dialog('new_rows')">New Row</button>
    <!-- TODO: Enable when a row is selected -->
    <button class="btn-edit inactive" disabled>Edit</button>
    <button class="btn-del inactive" disabled>Delete</button>
  </div>
</div>

<div class="overflow-auto">
  <table id='table-view' class="table-auto text-left">
    <thead>
      <tr id='col_n' class="bg-slate-900">
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<dialog style="color: white; position: fixed;" id="loading">
  <div style="width: 100dvw;position: fixed;background: #000;z-index: 1;left: 0;top: 0;opacity: .5;display: inline;"
    class=" h-dvh"></div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"
    style="width: 100px;top: 40%;left: 44%;position: fixed;/*! color: red; */">
    <radialGradient id="a11" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)">
      <stop offset="0" stop-color="#6CE0E7"></stop>
      <stop offset=".3" stop-opacity=".9" stop-color="#6CE0E7"></stop>
      <stop offset=".6" stop-opacity=".6" stop-color="#6CE0E7"></stop>
      <stop offset=".8" stop-opacity=".3" stop-color="#6CE0E7"></stop>
      <stop offset="1" stop-opacity="0" stop-color="#6CE0E7"></stop>
    </radialGradient>
    <circle transform-origin="center" fill="none" stroke="url(#a11)" stroke-width="18" stroke-linecap="round"
      stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100" r="70">
      <animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="2" values="360;0" keyTimes="0;1"
        keySplines="0 0 1 1" repeatCount="indefinite"></animateTransform>
    </circle>
    <circle transform-origin="center" fill="none" opacity=".2" stroke="#69DAE0" stroke-width="18" stroke-linecap="round"
      cx="100" cy="100" r="70"></circle>
  </svg>
</dialog>